# mainsail.cfg – required macros for Mainsail web interface
# See: https://docs.mainsail.xyz/setup/configuration

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[pause_resume]

[display_status]

[respond]

[gcode_macro CANCEL_PRINT]
description: Cancel the running print
rename_existing: CANCEL_PRINT_BASE
gcode:
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] | default({}) %}
    {% set allow_park = client.park_at_cancel | default(false) | lower == 'true' %}
    {% set retract = client.cancel_retract | default(5.0) | abs %}

    {% set park_x = "" if (client.park_at_cancel_x | default(none) is none)
              else "X=" ~ client.park_at_cancel_x %}
    {% set park_y = "" if (client.park_at_cancel_y | default(none) is none)
              else "Y=" ~ client.park_at_cancel_y %}
    {% set custom_park = park_x | length > 0 or park_y | length > 0 %}

    # restore idle_timeout time if needed
    {% if printer['gcode_macro RESUME'].restore_idle_timeout > 0 %}
        SET_IDLE_TIMEOUT TIMEOUT={ printer['gcode_macro RESUME'].restore_idle_timeout }
    {% endif %}
    {% if (custom_park or not printer.pause_resume.is_paused) and allow_park %}
        _TOOLHEAD_PARK_PAUSE_CANCEL { park_x } { park_y }
    {% endif %}
    _CLIENT_RETRACT LENGTH={ retract }
    TURN_OFF_HEATERS
    M106 S0
    {client.user_cancel_macro | default("")}
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=restore_idle_timeout VALUE=0
    CANCEL_PRINT_BASE

[gcode_macro PAUSE]
description: Pause the running print
rename_existing: PAUSE_BASE
gcode:
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] | default({}) %}
    {% set idle_timeout = client.idle_timeout | default(0) %}
    {% set temp = printer[printer.toolhead.extruder].target if printer.toolhead.extruder != '' else 0 %}
    {% set restore = false if printer.toolhead.extruder == ''
                 else true if idle_timeout > 0
                 else false %}

    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=last_extruder_temp VALUE={ "'%s': %3.1f" % (printer.toolhead.extruder, temp) }
    SET_GCODE_VARIABLE MACRO=RESUME VARIABLE=restore_idle_timeout VALUE={ idle_timeout if restore else 0 }
    {% if idle_timeout > 0 %}
        SET_IDLE_TIMEOUT TIMEOUT={ idle_timeout }
    {% endif %}
    PAUSE_BASE
    {client.user_pause_macro | default("")}
    _TOOLHEAD_PARK_PAUSE_CANCEL { "X=" ~ client.park_at_pause_x if client.park_at_pause_x is defined else "" }
                                 { "Y=" ~ client.park_at_pause_y if client.park_at_pause_y is defined else "" }

[gcode_macro RESUME]
description: Resume the paused print
rename_existing: RESUME_BASE
variable_last_extruder_temp: {'extruder': 0}
variable_restore_idle_timeout: 0
gcode:
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] | default({}) %}
    {% set velocity = printer.configfile.settings.pause_resume.recover_velocity %}
    {% set sp_move = client.speed_move | default(velocity) %}
    {% set runout_resume = true if client.runout_sensor | default("") == ""
                      else true if not printer[client.runout_sensor].enabled
                      else printer[client.runout_sensor].filament_detected %}
    {% set can_extrude = true if printer.toolhead.extruder == ''
                    else printer[printer.toolhead.extruder].can_extrude %}

    {% if restore_idle_timeout > 0 %}
        SET_IDLE_TIMEOUT TIMEOUT={ restore_idle_timeout }
    {% endif %}
    {% if printer.idle_timeout.state | upper == "IDLE" or last_extruder_temp.values() | list | max > 0 %}
        {% if (last_extruder_temp.keys() | list)[0] != "" %}
            RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1 MOVE_SPEED={ sp_move }
        {% endif %}
    {% endif %}
    {client.user_resume_macro | default("")}
    _CLIENT_EXTRUDE
    RESUME_BASE VELOCITY={ sp_move }

[gcode_macro SET_PAUSE_NEXT_LAYER]
description: Enable pause at the next layer change
gcode:
    {% set pause_next_layer = printer['gcode_macro SET_PRINT_STATS_INFO'].pause_next_layer %}
    {% set ENABLE = params.ENABLE | default(1) | int != 0 %}
    {% set MACRO = params.MACRO | default(pause_next_layer.call, true) %}
    SET_GCODE_VARIABLE MACRO=SET_PRINT_STATS_INFO VARIABLE=pause_next_layer VALUE="{{ 'enable': ENABLE, 'call': MACRO }}"

[gcode_macro SET_PAUSE_AT_LAYER]
description: Enable/disable a pause at the given layer number
gcode:
    {% set pause_at_layer = printer['gcode_macro SET_PRINT_STATS_INFO'].pause_at_layer %}
    {% set ENABLE = params.ENABLE | default(1) | int != 0 %}
    {% set LAYER = params.LAYER | default(pause_at_layer.layer) | int %}
    {% set MACRO = params.MACRO | default(pause_at_layer.call, true) %}
    SET_GCODE_VARIABLE MACRO=SET_PRINT_STATS_INFO VARIABLE=pause_at_layer VALUE="{{ 'enable': ENABLE, 'layer': LAYER, 'call': MACRO }}"

[gcode_macro SET_PRINT_STATS_INFO]
rename_existing: SET_PRINT_STATS_INFO_BASE
description: Capture layer and total layer count, and handle pause-on-layer
variable_pause_next_layer: { 'enable': False, 'call': "PAUSE" }
variable_pause_at_layer:   { 'enable': False, 'layer': 0, 'call': "PAUSE" }
gcode:
    {% if pause_next_layer.enable %}
        RESPOND TYPE=echo MSG='{ "pause_next_layer trigger: %d" % (params.CURRENT_LAYER) }'
        { pause_next_layer.call }
        SET_PAUSE_NEXT_LAYER ENABLE=0
    {% elif pause_at_layer.enable and params.CURRENT_LAYER is defined and params.CURRENT_LAYER | int == pause_at_layer.layer %}
        RESPOND TYPE=echo MSG='{ "pause_at_layer trigger: %d" % (pause_at_layer.layer) }'
        { pause_at_layer.call }
        SET_PAUSE_AT_LAYER ENABLE=0
    {% endif %}
    SET_PRINT_STATS_INFO_BASE { rawparams }

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Park toolhead used in PAUSE and CANCEL_PRINT
gcode:
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] | default({}) %}
    {% set velocity = printer.configfile.settings.pause_resume.recover_velocity %}
    {% set use_custom = client.custom_park | default(false) | lower == 'true' %}
    {% set custom_park_dz = client.custom_park_dz | default(2.0) | abs %}
    {% set sp_hop  = client.speed_hop  | default(15) * 60 %}
    {% set sp_move = client.speed_move | default(velocity) * 60 %}
    {% set origin  = printer.gcode_move.homing_origin %}
    {% set act     = printer.gcode_move.gcode_position %}
    {% set max     = printer.toolhead.axis_maximum %}
    {% set cone    = printer.toolhead.cone_start_z | default(max.z) %}
    {% set z_safe  = [[ act.z + custom_park_dz, cone], max.z] | min %}

    {% set park_x = [client.park_at_cancel_x | default(client.park_at_pause_x) | default(act.x), 0] | max %}
    {% set park_y = [client.park_at_cancel_y | default(client.park_at_pause_y) | default(act.y), 0] | max %}
    {% set park_x = [park_x, max.x] | min %}
    {% set park_y = [park_y, max.y] | min %}

    {% if "xyz" in printer.toolhead.homed_axes %}
        G90
        G1 Z{ z_safe } F{ sp_hop }
        G1 X{ park_x } Y{ park_y } F{ sp_move }
    {% else %}
        RESPOND TYPE=echo MSG='Printer not homed'
    {% endif %}

[gcode_macro _CLIENT_EXTRUDE]
description: Extrudes (or retracts) filament on resume
gcode:
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] | default({}) %}
    {% set use_fw_retract = (client.use_fw_retract | default(false) | lower == 'true') and
                            (printer.firmware_retraction is defined) %}
    {% set length = params.LENGTH | default(client.unretract) | default(1.0) | float %}
    {% set speed  = params.SPEED  | default(client.speed_unretract) | default(35) %}
    {% set absolute_extrude = printer.gcode_move.absolute_extrude %}

    {% if printer.toolhead.extruder != '' %}
        {% if printer[printer.toolhead.extruder].can_extrude %}
            {% if use_fw_retract %}
                {% if length < 0 %}
                    G10
                {% else %}
                    G11
                {% endif %}
            {% else %}
                M83
                G1 E{ length } F{ (speed | float | abs) * 60 }
                {% if absolute_extrude %}
                    M82
                {% endif %}
            {% endif %}
        {% else %}
            RESPOND TYPE=echo MSG='{ "Extruder not hot enough" }'
        {% endif %}
    {% endif %}

[gcode_macro _CLIENT_RETRACT]
description: Retracts (or unextrudes) filament on pause
gcode:
    {% set client = printer['gcode_macro _CLIENT_VARIABLE'] | default({}) %}
    {% set length = params.LENGTH | default(client.retract) | default(1.0) | float %}
    {% set speed  = params.SPEED  | default(client.speed_retract) | default(35) %}

    _CLIENT_EXTRUDE LENGTH=-{ length | float | abs } SPEED={ speed }
